## Functions in Python

* a named section of a program that performs a specific task.

### Need of functions

1. Write program as a bunch of sub-steps.  
2. Reuse code instead of rewriting it.  
3. Test small parts of the whole program.

----

### Example - Day at restaurant

In [9]:
# function to compute tax
def add_tax(bill, tax_prcnt=5):
    amount = bill + bill * (tax_prcnt/100)
    return amount

In [13]:
# function compute tip
def add_tip(bill, tip_prcnt):
    amount = bill + bill * (tip_prcnt/100)
    return amount

In [15]:
meal_cost = 100
# add tax
bill_with_tax = add_tax(meal_cost,2)
print("bill with tax", bill_with_tax)
# add tip
bill_with_tip = add_tip(bill_with_tax,10)
print("bill with tip",bill_with_tip)
# print total.
print("total bill :", bill_with_tip)

bill with tax 102.0
bill with tip 112.2
total bill : 112.2

In [20]:
# can we have a common function to compute tax and bill ?
# common function named as compute accepts parameters amount, prcnt..
def compute(amount, prcnt):
    total = amount + amount*prcnt/100
    return total
bill = 100
bill_with_tax= compute(bill,2)
bill_with_tip = compute(bill_with_tax,10)
print('total bill : ', bill_with_tip)

total bill :  112.2

----

### in-built functions

In [1]:
print("hello")

hello

In [8]:
my_list = list(range(10,20))
print(my_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
len(my_list)

10

In [6]:
min(my_list)

10

In [7]:
max(my_list)

19

------

### Excercise - Plan a trip.

**Hotel Cost**   
1. Define a function called hotel_cost with one parameter nights as input.
2. The hotel costs $140 per night. So, the function hotel_cost should return 140 * nights.

In [23]:
def hotel_cost(nights):
    return 140*nights
# Test..
hotel_cost(3)

420

**Travel cost**
1. Define a function called plane_ride_cost that takes a string, city, as input.
2. The function should return a different price depending on the location, similar to the code example above. Below are the valid destinations and their corresponding round-trip prices.
   * "Charlotte": 183 
   * "Tampa": 220 
   * "Pittsburgh": 222 
   * "Los Angeles": 475

In [29]:
def plane_ride_cost(city):
    ride_cost_dict = {"Charlotte": 183, "Tampa": 220, "Pittsburgh": 222, "Los Angeles": 475}
    return ride_cost_dict.get(city,-1)

In [33]:
print(plane_ride_cost("Tampa"))
print(plane_ride_cost("Alaska"))

220
-1

**Car rental cost**
1. Define a function called rental_car_cost with an argument called days.
2. Calculate the cost of renting the car - 
   * Every day you rent the car costs 40 USD.   
   * If you rent the car for 7 or more days, you get 50 USD off your total.
   * Alternatively, if you rent the car for 3 or more days, you get 20 USD off your total.
   * You cannot get both of the above discounts.
3. Return the cost.

In [35]:
def rental_car_cost(days):
    cost = 40*days
    if days>=7:
        cost = cost - 50
    elif days >= 3:
        cost = cost -20
    return cost
#test..
print(rental_car_cost(2))
print(rental_car_cost(3))
print(rental_car_cost(10))

80
100
350

** Total Cost **  
1. Define a function called trip_cost that takes two parameters, city and days.   
2. Return the sum of calling the rental_car_cost(days), hotel_cost(days - 1), and plane_ride_cost(city) functions.

In [37]:
def trip_cost(city, days):
    cost_rental = rental_car_cost(days)
    cost_hotel = hotel_cost(days-1)
    cost_ride = plane_ride_cost(city)
    print('rental cost : ', cost_rental)
    print('hotel cost : ', cost_hotel)
    print('ride cost : ', cost_ride)
    cost_total = cost_rental + cost_hotel + cost_ride
    return cost_total

** Now, find trip_cost  if you went to Los Angeles for 5 days ? **

In [39]:
total_cost = trip_cost('Los Angeles', 5)
print('total cost : ', total_cost)

rental cost :  180
hotel cost :  560
ride cost :  475
total cost :  1215