# Session 2 - Data structures in Python

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered and unindexed. No duplicate members.
- **Dictionary** is a collection which is unordered, changeable and indexed. No duplicate members.

## List

In [27]:
basket = ["apple", "banana", "cherry"]

In [3]:
# print list
print(basket)

['apple', 'banana', 'cherry']

In [7]:
# print second item.
print(basket[1])

banana

In [8]:
# Loop through list and print all items.
for fruit in basket:
    print(fruit)

apple
banana
cherry

In [13]:
# Length of list
print("Number of Items in basket is %d" % len(basket))
print("Number of Items in basket is",len(basket))

Number of Items in basket is 3
Number of Items in basket is 3

In [139]:
# add new item to list

In [16]:
# is element exists in the list ?
fruit = "apple"
if fruit in basket:
    print("yes, available")
else:
    print("Not found!")

yes, available

In [19]:
"banana" in basket

True

In [28]:
# add an item
basket.append("orange")
print(basket)

['apple', 'banana', 'cherry', 'orange']

In [29]:
# remove item from list
basket.remove("cherry")
print(basket)

['apple', 'banana', 'orange']

In [32]:
# index of an item
basket.index("banana")

1

In [35]:
# count number of occurance of an item
basket.append('banana')

['apple', 'banana', 'orange', 'banana', 'banana']

3

In [37]:
print(basket)
basket.count('banana')

['apple', 'banana', 'orange', 'banana', 'banana']

3

In [39]:
# sort list
basket.sort()
print(basket)

['apple', 'banana', 'banana', 'banana', 'orange']

*** Excercise 1 ***
> Find smallest number in given list

In [44]:
numbers = [45,60,20,35,40]
smallest = None

# your code..
# version 1
smallest = numbers[0]
for num in numbers:
    if num < smallest:
        smallest = num
print("version1 : smallest number is ",smallest)

# version 2
numbers_copy = numbers.copy()
numbers_copy.sort()
print(numbers_copy)
print("version2 : smallest number is ",numbers_copy[0])

# version 2
print("version3 : smallest number is ",min(numbers))

version1 : smallest number is  20
[20, 35, 40, 45, 60]
version2 : smallest number is  20
version3 : smallest number is  20

In [73]:
# List slicing
my_list = [10,20,40,50,70]
print(my_list)
print("first item", my_list[0])
print("last item", my_list[-1])
print("second last item", my_list[-2])
print("first two items", my_list[0:3])
print("second and third items", my_list[1:3])
print("all items from 2", my_list[2:])
print("last two items", my_list[-2:])

[10, 20, 40, 50, 70]
first item 10
last item 70
second last item 50
first two items [10, 20, 40]
second and third items [20, 40]
all items from 2 [40, 50, 70]
last two items [50, 70]

*** Excercise 2 ***
>Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.  
input_list : ['abc', 'xyz', 'aba', '1221']  
Expected Result : 2

## Tuple

In [47]:
values = (12,20,30)

In [48]:
print(values)

(12, 20, 30)

In [49]:
len(values)

3

In [50]:
values[1]

20

In [51]:
# What is difference between list and tuple then ?
# try to change or update an item
values[0] = 100

TypeError: 'tuple' object does not support item assignment

*** Excercise 3 ***
> Find unique values in a given tuple and sort results.  
input = (20,40,60,40,50)  
output = [20,40,50,60]

In [57]:
input_nums = (20,40,60,40,50)
output = []
for num in input_nums:
    print(num)
    if num not in output:
        print("new item, add to output list")
        output.append(num)
print(output)

20
new item, add to output list
40
new item, add to output list
60
new item, add to output list
40
50
new item, add to output list
[20, 40, 60, 50]

## Set

In [150]:
a = {1,2,3,4}

In [151]:
b = {3,4,5,6}

In [152]:
# set difference

In [153]:
# intersection

In [154]:
# union

In [155]:
# Redo excercise 3 with help of set.

---

## Dictionary

In [156]:
student_dict = {'name' : 'sam', 'rollno' : 1001, 'marks' : 95}

In [157]:
# print

In [158]:
# get name of student

In [159]:
# keys

In [160]:
# values

In [161]:
# exists ?

In [162]:
# iterate

In [163]:
# add new key

*** Excercise 4 ***   
> Create two dictionaries stock and prices as below.

In [164]:
stock = {
    "banana": 6,
    "apple": 0,
    "orange": 32,
    "pear": 15
}

prices = {
    "banana": 4,
    "apple": 2,
    "orange": 1.5,
    "pear": 3
}

>Loop through each key in prices. For each key, print out the key along with its price and stock information. Print the answer in the following format:
```
apple
price: 2
stock: 0
```

> Find out how much money you would make if you sold all of items.

In [165]:
# some more techniques :
#list slicing, one line loop, enumerate